.r-list li{
    list-style: none;
    margin-left: em;
}

.my-logo{
    height: 4em;
    width: 4.5em;
}

.coverCard{
    margin-top: 50%;
    background-color: black;
    padding: 2em 4em 2em 0;
    border-radius: 0 1em 1em 0;
}
