:root {
    --marblu: #01A1DF;
    --marfont: 'Roboto Condensed', sans-serif
}
body{
    font-family: var(--marfont) !important;
    
}
h1{
    font-weight: 700 !important;
}

section{
    margin: 10em 0 10em 0;
}

.r-list li{
    list-style: none;
    margin-left: em;
}

.my-logo{
    height: 4em;
    width: 4.5em;
}

.coverCard{
    margin-top: 50%;
    background-color: black;
    padding: 2em 4em 2em 0;
    border-radius: 0 1em 1em 0;
}
/* 
.my-navLinks a{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 900;
    font-size: 20em;
    color: black;
} */

 a.nav-link.my-navLinks{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 700;
    font-size: 1.5em;
    color: black !important;
}

html body nav.navbar.navbar-expand-lg.navbar-light.bg-white div.container-fluid div#navbarNavAltMarkup.navbar-collapse.collapse div.navbar-nav a.nav-link.my-navLinks:hover{
    color:var(--marblu) !important ;
}
html body nav.navbar.navbar-expand-lg.navbar-light.bg-white{
    position: sticky;
    width: 100%;
    top: 0em;

}

.coverPic{
    background-image: url('https://s3.us-east-1.amazonaws.com/craft-marinbikes/images/2020/mod/hero/image/_heroStandard1334X625/Marin-Bikes-DSX-FS_small.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coverBox{
 margin-top: 50%;
}

.my-row{
    margin-top: 3em;
}

.madeForFun button{
    padding:1em 3em 1em 3em;
     background-color: #01A1DF;
     border: none ;
     color: black;
     font-size: 1em; 
     font-weight: 700; 
     border-radius: 0.25em;
}

/* top cards */


.top-cards .my-row{
    margin-top: 50px;
    
}

li{
    list-style: none;
}
html body section.top-cards div.container-fluid div.row.my-row div.col.my-coulmn img{
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
}

html body section.top-cards div.container-fluid div.row.my-row.d-flex.j div.col.my-coulmn.my-textCol button{
    padding:1em 3em 1em 3em ;
    margin:0em;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 0.5em;
}
html body div.container-fluid section.top-cards div.container-fluid div.row.my-row.d-flex.j div.col.my-coulmn.my-textCol{
    font-size: 1em;
}




/* footer section */

section .FootCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.last-Foot ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    html body section.top-cards div.container-fluid div.row.my-row div.col.my-coulmn img{
        margin: 0;
        padding: 0;
        width: 20em;
        height: auto;
    }

    .top-cards .my-row{
    margin-top: 1em !important;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    html body section.top-cards div.container-fluid div.row.my-row div.col.my-coulmn img{
        margin: 0;
        padding: 0;
        width: 27em;
        height: auto;
    }
    .top-cards .my-row{
        margin: 0;
        }
}

  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    html body section.top-cards div.container div.row.my-row div.col.my-coulmn img{
        margin: 0;
        padding: 0;
    }
    .top-cards .my-row{
        margin: 0;
        }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}

